<page xmlns="http://projectmallard.org/1.0/"
      type="guide"
      id="index">

<info>
  <revision docversion="1.0" date="2012-02-09" status="review"/>

  <credit type="author">
    <name>Shaun McCance</name>
    <email>shaunm@gnome.org</email>
    <years>2011, 2012</years>
  </credit>

  <include href="../../cc-by-sa-3-0.xml" xmlns="http://www.w3.org/2001/XInclude" />
</info>

<title>Conditionals 1.0</title>

<note style="sidebar">
<title>Download Schema</title>
<list style="compact">
  <item><p><link href="http://projectmallard.org/if/1.0/if-1.0.rng">RELAX NG XML Syntax</link></p></item>
  <item><p><link href="http://projectmallard.org/if/1.0/if-1.0.rnc">RELAX NG Compact Syntax</link></p></item>
</list>
</note>

<p>The Mallard Conditionals extension provides a standard mechanism for run-time
conditional processing. Conditional processing is handled with simple but flexible
expressions in the <code xref="if_attr_test">test</code> attribute that control
whether or not content is shown. Test expressions are logical expressions built
from <link xref="tokens">test tokens</link>.</p>

<p>In addition to single conditional tests, the Conditionals extension provides
the <code xref="if_choose">if:choose</code> element to support branching and
fallback content for different conditions.</p>

<include href="../../common.xml" xpointer="xpointer(id('candidate'))" xmlns="http://www.w3.org/2001/XInclude"/>

<links type="topic" groups="test if" style="linklist">
  <title>Basic Conditionals</title>
</links>

<links type="topic" groups="choose when else" style="linklist">
  <title>Branching and Fallback</title>
</links>

<links type="topic" groups="functions" style="linklist">
  <title>XPath Functions</title>
</links>

<links type="topic" groups="notes" style="linklist">
  <title>Notes</title>
</links>

<!-- BEGIN schema -->
<section id="schema">
<title>Schema</title>

<p>The formal definition of the Mallard Conditionals extension
is maintained in <link href="http://www.relaxng.org/">RELAX NG</link>
<link href="http://www.relaxng.org/compact-20021121.html">Compact Syntax</link>
in code blocks within this specification. This is the namespace declaration
for the schema.</p>

<synopsis><code mime="application/relax-ng-compact-syntax">
# This schema cannot be used on its own. It is designed to be combined
# with the core Mallard schema using the version attribute.
namespace if = "http://projectmallard.org/if/1.0/"
</code></synopsis>
</section>
<!-- END schema -->

</page>
